.recipe {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
}

.recipe ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0;
}

.recipe ul li {
  list-style: none;
  margin-right: 10px;
  color: #777;
}

.recipe ul li::after {
  content: ',';
}

.recipe ul li:lastchild::after {
  content: '.';
}

.method {
  text-align: left;
  line-height: 1.5em;
}

/* dark mode */
.recipe.dark {
  background: #555;
  color: #e4e4e4;
}

.recipe.dark h2 {
  color: #fff;
}